<!DOCTYPE html>
<!--Inherits from base template-->
{% extends "base.html" %}
    <html>
        <body>
            {% block content %}
            <!--Links for contacting-->
            <div class = "text">
                <h1>Contact Information</h1>
                <p>Connect with me on <a target="_blank" rel="noopener norferrer nofollow" href="https://www.linkedin.com/in/emily-j-hammer">LinkedIn</a></p>
                <p>Send me an <a href="mailto:ehammer5@jh.edu">e-mail</a> at ehammer5@jh.edu</p>
            </div>
            {% endblock %}
        </body>
    </html>
