<!DOCTYPE html>
{% extends "base.html" %}
    <html>
        <body>
            {% block content %}
            <div class = "text">
                <h1>Projects</h1>
                <h2>Student Projects for Modern Software Concepts in Python</h2>
                <p></p>
                <p>As the semester progresses and we continue with assignments, each project will be added to this page to share a short summary of the assignment and my approach to a solution.</p>
                <div class="box">
                <div class="container">
                    <main class="grid">
                        <article>
                            <div class="text">
                                <h3>Module 1</h3>
                                <div class="subtitle">
                                    <p>Personal Website</p>
                                </div>
                                <div class="project-bar"></div>
                                <h4>Objective</h4>
                                <p>Learn the fundamentals of website construction by leveraging HTML, Flask, and CSS to create a functional website for the semester.</p>
                                <p></p>
                                <h4>My Approach</h4>
                                <p>Learn the fundamentals of website construction by leveraging HTML, Flask, and CSS to create a functional website for the semester.</p>
                                <a target="_blank" rel="noopener norferrer nofollow" href="https://github.com/emuhleejh/jhu_software_concepts/tree/main/Module%201" class="btn">See solution on GitHub</a>
                            </div>
                        </article>
                    </main>
                </div>
            </div>
            {% endblock %}
        </body>
    </html>