{% extends "base.html"}
    <html>
        <body>
            <h1>Projects</h1>
            <h2>Student Projects for Modern Software Concepts in Python</h2>
            <p></p>
            <p>As the semester progresses and we continue with assignments, each project will be added to this page to share a short summary of the assignment and my approach to a solution.</p>
            <p></p>
            <li><a href = "{{url_for('mod1') }}"">Module 1 Assignment: Personal Website</li><p>&#127760;</p>
        </body>
    </html>