{% extends "base_projects.html"}
    <html>
        <body>
            <h1>Personal Website</h1>
            <h2>Module 1 Assignment</h2>
            <p></p>
            <h3>Assignment Details</h3>
            <p>The Module 1 assignment teaches the fundamentals of website construction by asking students to create a personal website with a biography, contact information, and details about our Python projects, with a specific focus on our projects for this class. Alongside Python, we leverage HTML, Flask, and CSS to create a functional website for the semester.</p>
            <p><strong>Key Skills: </strong>Flask, HTML, Searching Methods, Data Cleaning, JSON Data Object Storage</p>
            <p></p>
            <h3>My Approach</h3>
            <p></p>
            <p></p>
            <li><a href="https://www.linkedin.com/in/emily-j-hammer">See my solution on GitHub</a></li>
        </body>
    </html>