@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


/*Styling for navigation bar*/
.nav {
    background-color: #808285;
    width: 100%;
    margin-bottom: 50px;
}

/*Active nav tab*/
.active{
    background-color: #857f7f;
}

/*Text stylization*/
.text {
    padding-right: 7.5%;
    padding-left: 7.5%;
}

.box {
  background-color: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px;
}

* {
  box-sizing: border-box;
}

.subtitle {
    color: #4e3333;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 0;
    padding-bottom: 15px;
}

/*Header and body stylization*/
h1 {
    color: #796165;
    text-align: left;
    font-size: 32px;
    padding-top: 10px;
    padding-bottom: 15px;
    line-height: 0;
}

h2{
    color: #520410;
    text-align: left;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 0;
}

h3{ 
    color: #520410;
    text-align: left;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 0;
}

h4{ 
    color: #16070a;
    text-align: left;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 0;
}

body {
  background-color: #ffb6c1;
  justify-content: left;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/*Unordered list stylization*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #921755;
}

/*Image Stylization*/
img {
    border-radius: 8px;
    max-width: 256px;
    height: auto;
    margin: 10px;
}

/*Overall grid for displaying items (articles)*/
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  grid-gap: 20px;
}

/*Items within a grid*/
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(187, 163, 206, 1);
  background-color: #fff;
  padding: 5% 0;
   border-radius: 20px;
}

.grid .text {
  padding: 10px 20px 20px 30px;
  color: #808285;
  margin-bottom: 20px;  
}

.grid .btn {
  margin-top: 20px;
  background-color: #daa2ae;
	border: 0;
	border-radius: 5px;
	color: #000;
	font-size: 15px;
	padding: 5px 10px 5px 10px;
  line-height: 5;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-decoration: none;
  
}

.grid > article:hover {
    background:#fceff5;
    transition-duration: 80ms;
}

.btn:hover {
  background: #d1d3d4;
  transition-duration: 80ms;
}

/*Stylistic bar within an article*/
.project-bar {
	left: -2px;
	width: 50px;
	height: 5px;
	margin: 10px 0;
	border-radius: 5px;
	background-color: #424242;
	transition: width 0.2s ease;
}
