on:
  push:
    branches:
      - 'main'
  pull_request:
  workflow_dispatch:

jobs:
  run-python-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@main
        with:
          python-version: "3.14.2"
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r module_4/requirements.txt
      - name: "Run tests"
        run: |
          pip install pytest
          pytest module_4
